!!!
%html
  %head
    %title WRFL
    %link{href: "css/all.css", rel: "stylesheet", type: "text/css"}
    %script{src: "js/all.js"}
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        %ul.nav.navbar-nav.navbar-left
        %ul.nav.navbar-nav.navbar-right
          %li
            %a.time-playing
          %li
            %a.btn-play{href: "#"} Play
          %li
            %a.btn-pause{href: "#"} Pause

        #now_playing
	       %iframe{scrolling: "no", width: "100%", height: "250", frameborder: "0", src: "http://wrfl.fm/now"}

    %nav.navbar.navbar-inverse.navbar-fixed-bottom
      .container-fluid
