!!!
%html
  %head
    %title WRFL
    %link{href: "css/all.css", rel: "stylesheet", type: "text/css"}
    %script{src: "js/all.js"}
  %body
    .logo
    .btn-playpause
    .now_playing
      .art
        .record
          .image
      .track_info
        .track
        .artist
        .album

        .time
        .dj
    .about
      %ul
        %li.clearfix
          %a.close.pull-right
              X
        %li
          %a{href: "http://wrfl.fm/playlist/"}
            Browse All Playlists
        %li
          %a{href: "https://twitter.com/WRFL"}
            WRFL on Twitter
        %li
          %a{href: "https://www.facebook.com/wrfl881"}
            WRFL on Facebook
        %li
          %a{href: "http://instagram.com/wrfl881/"}
            WRFL on Instagram
        %li
          %a{href: "http://nwarner.com"}
            Made with <3 by Nick Warner @ Jetpack Danceoff
