html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #000;
  color: #fff;
}

.about {
  position: absolute;
  left: -3000px;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: scroll-x;
  z-index: 1000;
  background-color: #000;
  opacity: 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;

  &.visible {
    left: 0;
    opacity: 1;
  }

  &, a, a.close {
    color: #fff;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border-bottom: 1px solid #2b2b2b;
      padding: 20px;
    }
  }

  .bottom {
    position: absolute;
    bottom: 0;
    padding: 20px;
  }
}

.logo {
  background-image: url(/assets/wrfl-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 200px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.btn-playpause {
  position: absolute;
  top: 35px;
  right: 20px;
  z-index: 10;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/assets/play.png);

  &.playing {
    background-image: url(/assets/pause.png);
  }
}

.navbar {
  max-height: 70px;
}

.now_playing {
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  position: relative;
  height: 100%;
  width: 100%;
  bottom: 0;
  font-weight: 900;
  font-size: 18px;

  .art {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    .record {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .image {
        width: 100%;
        height: 100%;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
        -webkit-backface-visibility: hidden;
        -webkit-transition: translate3d(0,0,0);
      }

      &.vinyl {
        top: -240px;
        left: -260px;
        z-index: 0;
        background-image: url(/assets/vinyl.gif);
        border-radius: 800px;
        width: 1000px;
        height: 1000px;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
        -webkit-backface-visibility: hidden;
        -webkit-transition: translate3d(0,0,0);

        &.playing {
          -webkit-animation:spin 1800ms linear infinite;
        }

        .image {
          position: absolute;
          z-index: 1;
          top: 300px;
          left: 300px;
          border-radius: 300px;
          width: 400px;
          height: 400px;
        }
      }
    }

  }

  .track_info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 2;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);

    .time {
      margin-top: 10px;
    }

    .time, .dj {
      color: #ddd;
    }
  }
}

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
